<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="roger_bannerslider_banner_listing_data_source" xsi:type="string">Roger\BannerSlider\Model\ResourceModel\Banner\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Roger\BannerSlider\Model\ResourceModel\Banner\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">roger_bannerslider_banner</argument>
            <argument name="resourceModel" xsi:type="string">Roger\BannerSlider\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>
</config>